table, td, tr, th {
    border: 1px solid white;
}
.today * {
    background-color: var(--pico-color-slate-600);
    font-size: 1.1rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.week-day {
    text-align: center;
}

.material-icons {
    font-size: 50px;
}

.hide {
    display: none;
}

.grid {
    align-items: center;
    justify-items: center;
}