:root {
    --white-color: white;
    --black-color: black;
    --gray-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    margin: 25px;
}
.main {
    background-color: white;
    width: 100vw;
    /** height: 100vh; **/

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    top: 25px;
    background-color: white;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 50px 5px;
    text-align: center;
}

.content {
    align-items: center;
    align-content: center;
    padding: 50px;
}

/** Utility classes **/

.hide {
    display: none;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}