h1 {
  text-align: center;
}

.persons-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-card {
  padding: 25px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

span {
  font-weight: 700;
}

.hide {
  display: none;
}

.user-address-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  align-items: center;
}

.user-address-body {
  background-color: black;
  color: white;
  padding: 10px 15px;
}

.toggle-address-info {
  background-color: black;
  color: white;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
}

.toggle-address-info:hover {
  background-color: white;
  color: black;
}
