:root {
    --warning-color: #CE102B;
    --marker-color: #F6CA40;
    --sea-color: #10CEB3;
}

.warning {
    background-color: var(--warning-color);
}
.sea {
    background-color: var(--sea-color);
    color: black;
}
.marker {
    background-color: var(--marker-color);
    color: black;
}
.icon {
}

input[name="remove-selection"]:checked {
    background-color: var(--sea-color);
}

button {
    display: flex;
    align-items: center;
    width: auto;
}

.flex{
    display: flex;
    gap: 25px;
}

.space-between {
    justify-content: space-between;
}