@import url('https://api.fonts.coollabs.io/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    overflow-wrap: break-word;
}

::selection {
    background-color: black;
    color: white;
}

body {
    padding: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    text-align: center;
    margin: 25px 0;
}

a {
    color: black;
}

a:hover {
    color: white;
    background-color: black;
    font-weight: 700;
}

a {
    color: black;
}

.search {
    padding: 15px 25px;
    margin: 25px;
    border: 5px solid black;
}

.main {
    display: flex;
}

.bold {
    font-weight: 700;
}


.left-sidebar {
    margin: 25px;
}



.characters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #FCE5CD;
    height: calc(100vh - 50px);
    overflow: hidden;
    overflow-y: scroll;

    scrollbar-color: black rgba(0, 0, 0, 0.1);
    scrollbar-width: auto;
}

.character-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #FCE5CD;
    height: calc(100vh - 250px);
    overflow: hidden;
    overflow-y: scroll;
}

.character-card {
    margin: 25px;
    padding: 25px;
    max-width: 350px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.character-card:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.character-pagination {
    color: black;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
}

.character-pagination p {
    text-align: center;
    margin: 5px;
}

.character-pagination a {
    padding: 5px;
}

.back-button {
    text-align: center;
}